.Rproj.user
.Rhistory
.RData
paper_drafts/anderson-eason-barnes/*
paper_drafts/isee_presentation/*
paper_drafts/NatureClimateChangeDraft/*
paper_drafts/RJournalDraft/*
*.Rhistory
*.log
*.gz
*.docx
*.blg
*.aux
*.out
paper_drafts/RJournalRevisions/review_1_1-2.txt
..pdf
.DS_Store
vignettes/.DS_Store
inst/doc
